:root {
  --black: #0b0c10;
  --mint: #5cdb95;
  --teatree: #3b945e;
  --bluegrey: #45a29e;

}


* {
  max-width: auto;
  font-family: 'Source Sans Pro', sans-serif;
  
}


/* Added font from web host */
header {
  width: 100%;
  height: 100px;
  background: blue  ;
  border-bottom: 2px solid black;
  font-family: 'Rubik Mono One', sans-serif;
}

/* Brings nav links to the right side of the page */
header nav {
  text-align: right;
  align-self: end;
}

/* Removes underline from links and colors them */
nav a {
  text-decoration: none;
  color: crimson;
  margin-bottom: 8px;
  margin-right: 20px;
}

/* Adjusts the style for my headings within the body */
h3 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

/* sets the size of my name in the header and formats it to give it space
from the edge of the screen */
h1 {
  font-size: 65px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  color: var(--teatree);
}


/* body {
  display: flex;
  justify-content: baseline;
} */


/* This is what splits my page into two colums, for my personal 
info and about me articles */
main {
  display: flex;
  flex-direction: row;
  background-color: #05386b;
  border: 3pt solid black;
}

/*
/* removed div from html 3/27 */
/* 
div {

} */

section {
  display: flex;
}

article {
  padding: 20px;
  margin: 10px;
  background: var(--bluegrey);
  display: flex;
  flex-direction: column;
}

/* Controls the size of the image in the picture-self article */
 img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  contain: content;
} 

 .personal-info {
    flex-direction: column;
    width: 33.33%;
    height: auto;
}


#picture {
  height: auto;
}

#picture-self {
  /* object-fit: contain; */
  border-radius: 80px 25px;
  
}


/* Ensures that the info within my contact info section wraps and styles appropriately */
#contact-info {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}

/* affects p tages within any unordered list in the html */
/*
ul p {
  display: inline-flex;
  margin: 2px;
}
*/
.straight-facts {
    flex-direction: column;
    width: 66.66%;
    line-height: 15pt;
}


#about-me {
  height: 200px;
}


#work-history {
  height: 458px;
}

.project-cards {
  border: 2pt solid black;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  flex: 1;
  flex-basis: 400px;
}

/* individual projects to display within my work history
these should link in a new tab if possible */
#project-1,
#project-2,
#project-3, 
#project-4,
#project-5{
  border: 2px solid black;
  margin: 20px;
  display: flex;
}

#project-1 {
  display: flex;
  flex-grow: 2;
}


#project-2,
#project-3, 
#project-4,
#project-5{
  display: flex;
}

/* Page footer, includes a short message and duplicate links */
footer {
  width: 100%;
  padding: 4px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 20px;
  background-color: darkcyan;
} 

footer p {
  font-size: 10pt; 
}

footer nav {
  font-size: larger;
  font-size: 12pt;
}

/* Removes the underline for links in the a tag and spaces them out with padding*/
footer a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* Here is where my media tags will live */


@media screen and (max-width: 996px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    .personal-info,
    .straight-facts {
      width: 50%;    
    }
      header {
      height: auto;
    }
  }

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
    .personal-info, 
    .straight-facts {
      width: auto;
    }
    header {
      height: auto;
    }
  }


