/* Starting point */


header {
    width: 100%;
  height: 100px;
  background: grey;
  border-bottom: 2px solid black;
}

/* Brings nav links to the right side of the page */
header nav {
  text-align: right;
}

/* Adjusts the style for my headings within the body */
h3 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

/*
body {

}

main {

}
*/

aside {
  display: flex;
  justify-self: end;
}

/* removed div from html 3/27 */
/* 
div {

} */

section {
  display: flex;
}

article {
    width: 500px;
  height: 200px;
  padding: 20px;
  border: 8px solid red;
  background: yellow;
  display: flex;
  flex-direction: column;
}

 .personal-info {
    display: flex;
    flex-direction: row;
}

#picture-self {
  object-fit: contain;
  
}


/* Ensures that the info within my contact info section wraps and styles appropriately */
#contact-info {
    display: flex;
    flex-wrap: wrap;
}

/* affects p tages within any unordered list in the html */
/*
ul p {
  display: inline-flex;
  margin: 2px;
}

.straight-facts {
  display: flex;
    flex-direction: column;
    align-self: baseline;
}


#about-me {

}

#work-history {

}

/* Page footer, includes a short message and duplicate links */
footer {
  width: 100%;
  padding: 4px;
  border-top: 2px solid black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 20px;
  background-color: darkcyan;
} 

footer p {
  font-size: 10pt; 
}

footer nav {
  font-size: larger;
  font-size: 12pt;
}

/* Removes the underline for links in the a tag and spaces them out with padding*/
footer a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}