:root {
  --black: #0b0c10;
  --mint: #5cdb95;
  --teatree: #3b945e;
  --bluegrey: #45a29e;

}


* {
  max-width: 100%;
  max-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}


/* Added font from web host */
header {
  width: 100%;
  height: 100px;
  background: #05386b;
  border-bottom: 2px solid black;
  font-family: 'Rubik Mono One', sans-serif;
}

/* Brings nav links to the right side of the page */
header nav {
  text-align: right;
  align-self: end;
}

/* Removes underline from links and colors them */
nav a {
  text-decoration: none;
  color: var(--mint);
  margin-bottom: 8px;
  margin-right: 20px;
}

/* Adjusts the style for my headings within the body */
h3 {
  font-size:xx-large;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  /* max-width: 100%;
  height: auto; */
}

/* sets the size of my name in the header and formats it to give it space
from the edge of the screen */
h1 {
  font-size: 65px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  color: var(--mint);
}


body {
    background-color: var(--black);
}


/* This is what splits my page into two colums, for my personal 
info and about me articles */
main {
  display: flex;
  flex-direction: row;
}

/*
/* removed div from html 3/27 */
/* 
div {

} */

section {
  display: flex;
}

/* Sets the style for all four articles */
article {
  padding: 20px;
  margin: 10px;
  border: 8px solid var(--teatree);
  background: var(--bluegrey);
  display: flex;
  flex-direction: column;
}

/* Controls the size of the image in the picture-self article */
/* max-width is what allows the image to scale with the rest of the container */
 img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  contain: content;
  border-radius: 10%;
} 

 .personal-info {
    flex-direction: column;
    width: 33.33%;
    height: auto;
}


#picture {
  height: auto;
}

#picture-self {
  /* object-fit: contain; */
  border-radius: 80px 25px;
  margin: 15pt;
}


/* Ensures that the info within my contact info section wraps and styles appropriately */
#contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    border-radius: 80px 25px;
    contain: content;
}

ul {
  display: flex;
  flex-direction:column;
  max-width: 100%;
}

ul a {
  text-decoration: none;
  max-width: 100%;
}

.straight-facts {
    flex-direction: column;
    width: 66.66%;
    line-height: 15pt;
}


#about-me {
  height: 39%;
  margin: 15pt;
  border-radius: 80px 25px;
}


#work-history {
  height: 60%;
  margin: 15pt;
  border-radius: 80px 25px;
}

.project-cards {
  display: flex;
  flex-direction: column;
  /* border: 2pt solid black; */
  height: auto;
  max-height: fit-content;
}

/* individual projects to display within my work history
these should link in a new tab if possible */
#project-1,
#project-2,
#project-3, 
#project-4,
#project-5{
  border: 2px solid black;
  border-radius: 10px 10px;
  margin: 1rem;
  display: flex;
  height: 3rem;

}

#project-1 {
  display: flex; 
  height: 33%;
}

h2 {
  display: flex;
  align-self: center;
  font-style: normal;
  font-size: xx-large;
  color: black;
}

/* Page footer, includes a short message and duplicate links */
footer {
  margin-bottom: 0;
  width: 100%;
  height: auto;
  padding: 4px;
  border-top: 2px solid black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 20px;
  background-color: darkcyan;
} 

footer p {
  font-size: 10pt; 
}

footer nav {
  font-size: larger;
  /* font-size: 12pt; */
}

/* Removes the underline for links in the a tag and spaces them out with padding*/
footer a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* Here is where my media tags will live */


@media screen and (max-width: 996px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    .personal-info {
      width: 40%;
      height: auto;
    }

    .straight-facts {
      width: 56%;    
      height: auto;
    }
      header {
      height: auto;
    }

    h1 {
      max-width: 100%;
      font-size: xx-large;
    }
  }

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
    .personal-info, 
    .straight-facts {
      width: 100%;
      max-width: 100%;
    }

  #contact-methods {
    height: 10%;
  }
  
  article ul {
    height: 89%;
    width: 80%;
  }
    header {
      height: auto;
    }

    h1 {
      max-width: 100%;
      font-size: large;
    }

  
  #project-2,
  #project-3, 
  #project-4,
  #project-5{
    border: 2px solid black;
    border-radius: 10px 10px;
    margin: 1rem;
    display: flex;
    height: 2rem;
  }

  #project-1 {
    height: 4rem;
    border: 2px solid black;
    border-radius: 10px 10px;
    margin: 1rem;
    display: flex;
  }
  }


